@import "../styles/global/variable.scss";
@import "../styles/global/responsive.scss";

.headNav::before{
    display: block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(0.5rem);
    height: 5rem;
}

.headNav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;

    ul {
        display: flex;
        font-size: 1.5rem;
        margin-right: 2em;

        li:not(:last-child)::after {
            margin-right: 1em;
            content: "";
        }

        a {
            color: $c-wText;
            position: relative;
            display: inline-block;
            text-decoration: none;
        }

        a::after {
            position: absolute;
            bottom: 0.2em;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: $c-wText;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: transform .3s;
          }
          a:hover::after {
            transform: scale(1, 1);
          }
    }
}