body {
    background-color: white;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

main {
    margin: 0 auto;
}